/* .navLink {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  position: relative;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 2px;
  background-color: #070707;
  transition: width 400ms ease-in-out;
}

.navLink:hover::after {
  width: 100%;
}
.navLinkLogo::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 2px;
  background-color: transparent;
  transition: width 400ms ease-in-out;
}

.navLinkActive {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  border-bottom: 2px solid #070707;
}
 */
